.nearContainer {
    display: flex;
    width: 100%;
    height: 850px;
}

.items {
    /* flex: 1; */
    /* width:50%; */
    /* justify-content:left; */
    height:min-content;
}

div.nearleft {
    float: left;
    box-sizing: border-box;
    align-items: flex-start;
    border-right: 0.5px solid gray;
    width:30%;
}

div.nearright {
    float: right;
    box-sizing: border-box;
    width:70%;
}

.MapSection {
    width: 500px;
    height:500px;
    text-align: center;
    
}

.BottonSection {
    text-align: center;
}